docs/*
src/*.o
src/io/*.o
tests/obj/
tests/test_io
tests/test_voice
tests/test_vizfx
tests/dsp/*.o
.tmp_files/
third_party/
.clang-format
rg35xx-copy.sh
TODO.md
compile_commands.json
src/tools/nav_harness/nav_harness
src/tools/nav_harness/*.o
